.table {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.item-row img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.item-row p {
    font-size: 16px;
    margin: 0 10px;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-color: #e91010;
    border: 1px solid #ddd;
}

.buy-btn {
    background-color: #555;
    color: white;
}

.save-btn {
    background-color: #90EE90;
    color: black;
}

.delete-btn {
    background-color: #C9302C;
    color: white;
}

.save-btn, .delete-btn {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 14px;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-fluid {
    padding-bottom: 40px;
}
